<a href="https://colab.research.google.com/github/Gaikwadpawan3006/Analysis-on-Student-Performance/blob/main/Prediction_using_Supervised_ML_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GRIP : The Spark Foundation**

# **Data Science & Business Analytics Internship**

---

# **Graduate Rotational Internship Program**

**Name: Gaikwad Pawan Ramesh**

# **Task 1: Prediction using Supervised ML**

**Import Dataset : Numpy, Pandas, Matplotlib, Seaborn, scikit learn.**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings as wg
wg.filterwarnings('ignore')

**Read Dataset from URL**

In [2]:
url= 'http://bit.ly/w-data'
data = pd.read_csv(url)
print("Successfully Import Dataset")
data

Successfully Import Dataset

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

**print First 5 record in dataset**

In [3]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

**print last 5 record in dataset**

In [4]:
data.tail()

    Hours  Scores
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

**Use describe() method we can see that percentiles,mean,std,max,count of given dataset**

In [5]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

**Full summary of our dataframe**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

**Used median() method we can see median in our dataset**

In [8]:
data.median()

Hours      4.8
Scores    47.0
dtype: float64

**max() method find maximum value in our dataframe**

In [9]:
data.max()

Hours      9.2
Scores    95.0
dtype: float64

**min() method find minimumvalue in our dataframe**

In [10]:
data.min()

Hours      1.1
Scores    17.0
dtype: float64

**find shape of dataset**

In [12]:
data.shape

(25, 2)

**Checking the missing values**

In [13]:
data.isnull().sum()

Hours     0
Scores    0
dtype: int64

**find the correlation**

In [14]:
data.corr()

           Hours    Scores
Hours   1.000000  0.976191
Scores  0.976191  1.000000

**how many columns in our dataset**

In [16]:
data.columns

Index(['Hours', 'Scores'], dtype='object')